## 2.2 读取MySQL数据库

In [5]:
import pandas as pd
import pymysql
con = pymysql.connect(host = 'localhost',user = 'root',password = 'root',database = 'test',charset = 'utf8')
data = pd.read_sql("select * from student",con=con)  # 第1个参数是SQL查询语句，第2参数是数据库连接
print(data)

   id name
0   1   张三
1   2   李四
2   3   王五
3   4   赵六