## 2.3 读取Excel文件

### 一、读取文件

In [68]:
import pandas as pd
path = './Pandas/读取文件.xlsx'
data = pd.read_excel(path)
print(data)
# data.to_excel(path)

   1   杨过  19  13901234567  终南山古墓 2000-01-01 00:00:00
0  2  小龙女  25  13801111111  终南山古墓          2000-01-02
1  3   郭靖  40  13705555555   湖北襄阳          2000-01-03
2  4   黄蓉  35  13601111111   湖北襄阳          2000-01-04
3  5  张无忌  18  13506666666     明教          2000-01-05
4  6  周芷若  17  13311111111     明教          2000-01-06
5  7   赵敏  17  18800000000     明教          2000-01-07

### 二、查看前几行数据

In [36]:
print(data.head()) # 默认5行，指定行数写小括号

   序号   姓名  年龄           电话     地址       入职日期
0   1   杨过  19  13901234567  终南山古墓 2000-01-01
1   2  小龙女  25  13801111111  终南山古墓 2000-01-02
2   3   郭靖  40  13705555555   湖北襄阳 2000-01-03
3   4   黄蓉  35  13601111111   湖北襄阳 2000-01-04
4   5  张无忌  18  13506666666     明教 2000-01-05

### 三、查看数据的形状

In [35]:
print(data.shape)

(7, 6)

### 四、查看列名列表

In [38]:
print(data.columns)

Index(['序号', '姓名', '年龄', '电话', '地址', '入职日期'], dtype='object')

### 五、查看索引列

In [41]:
print(data.index)

Int64Index([1, 2, 3, 4, 5, 6, 7], dtype='int64', name='序号')

### 六、查看每一列数据类型

In [42]:
print(data.dtypes)

姓名              object
年龄               int64
电话               int64
地址              object
入职日期    datetime64[ns]
dtype: object

### 七、自己设置并写入表头

In [50]:
import pandas as pd
path = './Pandas/读取文件.xlsx'
data = pd.read_excel(path,header=None)
data.columns=['序号','姓名','年龄','电话','地址','入职日期']  # 给每个列重复设置表头
data=data.set_index('序号')          # 重新指定索引列
print(data.columns)          # 查看列名列表
print(data)
data.to_excel(path)          # 写入到Excel文件

Index(['姓名', '年龄', '电话', '地址', '入职日期'], dtype='object')
     姓名  年龄           电话     地址       入职日期
序号
1    杨过  19  13901234567  终南山古墓 2000-01-01
2   小龙女  25  13801111111  终南山古墓 2000-01-02
3    郭靖  40  13705555555   湖北襄阳 2000-01-03
4    黄蓉  35  13601111111   湖北襄阳 2000-01-04
5   张无忌  18  13506666666     明教 2000-01-05
6   周芷若  17  13311111111     明教 2000-01-06
7    赵敏  17  18800000000     明教 2000-01-07

### 八、修改表头

In [63]:
import pandas as pd
path = './Pandas/读取文件.xlsx'
data = pd.read_excel(path, header=0)
data.columns=['序号','姓名','年龄','电话','地址','入职日期']  # 给每个列重复设置表头
data=data.set_index('姓名')          # 替换index
print(data.columns)
print(data)

Index(['序号', '年龄', '电话', '地址', '入职日期'], dtype='object')
     序号  年龄           电话     地址       入职日期
姓名
杨过    1  19  13901234567  终南山古墓 2000-01-01
小龙女   2  25  13801111111  终南山古墓 2000-01-02
郭靖    3  40  13705555555   湖北襄阳 2000-01-03
黄蓉    4  35  13601111111   湖北襄阳 2000-01-04
张无忌   5  18  13506666666     明教 2000-01-05
周芷若   6  17  13311111111     明教 2000-01-06
赵敏    7  17  18800000000     明教 2000-01-07